@use "@material/theme" with (
  // $primary: #0c6291,
  // $secondary: #FF934F,
  $primary: #7BCAF4,
  $secondary: #FF934F,
  $background: #212121,
  $surface: #212121,
  $error: #EF9A9A
);
@use "@material/typography" with (
  $font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
  $styles-headline1: (
    font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
    letter-spacing: 0
  ),
  $styles-headline2: (
    font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
    letter-spacing: 0
  ),
  $styles-headline3: (
    font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
    letter-spacing: 0
  ),
  $styles-headline4: (
    font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
    letter-spacing: 0
  ),
  $styles-headline5: (
    font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
    letter-spacing: 0
  ),
  $styles-headline6: (
    font-family: unquote("-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif"),
    letter-spacing: 0
  ),
  $styles-subtitle1: (
    letter-spacing: 0
  ),
  $styles-subtitle2: (
    letter-spacing: 0
  ),
  $styles-body1: (
    letter-spacing: 0
  ),
  $styles-body2: (
    letter-spacing: 0
  ),
  $styles-caption: (
    letter-spacing: 0
  )
);
@use "@material/shape" with (
  $small-component-radius: 50%,
  $medium-component-radius: 16px
);
@include typography.core-styles;

@import "@material/button/mdc-button";
.mdc-button-dense {
  @include mdc-button-density(-3);
}
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/data-table/mdc-data-table";
@import "@material/dialog/mdc-dialog";
.mdc-dialog__surface::before {
  width: auto;
  height: auto;
}
@import "@material/drawer/mdc-drawer";
@import "@material/fab/mdc-fab";
.mdc-fab--fixed {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
@import "@material/form-field/mdc-form-field";
.mdc-form-field {
  padding: 0 10px;
}
@import "@material/icon-button/mdc-icon-button";
.mdc-icon-button {
  @include mdc-icon-button-disabled-ink-color(rgba(255, 255, 255, 0.38));
}
.mdc-icon-button-dense {
  @include mdc-icon-button-density(-3);
}
@import "@material/list/mdc-list";
.mdc-drawer .mdc-list-item {
  padding: 0 16px;
}
@import "@material/linear-progress/mdc-linear-progress";
.mdc-linear-progress__buffer-bar {
  background-color: transparent;
}
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mixins";
@import "@material/select/mdc-select";
@import "@material/select/mixins";
.mdc-select--outlined-dense {
  @include mdc-select-outlined-density(-3);
}
.mdc-select--filled-dense {
  @include mdc-select-filled-density(-3);
}
@import "@material/snackbar/mdc-snackbar";
.mdc-snackbar__surface {
  border-radius: 24px;
}
@import "@material/switch/mdc-switch";
.mdc-switch + label {
  margin-left: 10px;
}
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/textfield/mdc-text-field";
.mdc-text-field--outlined {
  padding-left: max(16px, calc(var(--mdc-shape-small, 28px) + 4px));
  padding-right: max(16px, var(--mdc-shape-small, 28px));
}
.mdc-text-field--outlined .mdc-text-field__input {
  padding-left: 0;
  padding-right: 0;
}
.mdc-text-field--outlined-dense {
  @include mdc-text-field-outlined-density(-3);
}
.mdc-text-field--filled-dense {
  @include mdc-text-field-density(-3);
}
.mdc-text-field--disabled {
  .mdc-floating-label, .mdc-text-field__input {
    color: rgba(255, 255, 255, 0.5)
  }
}
.mdc-select.mdc-select--disabled {
  .mdc-floating-label, .mdc-select__selected-text {
    color: rgba(255, 255, 255, 0.5)
  }
}
@import "@material/textfield/mixins";
@import "@material/theme/functions";
@import "@material/theme/mixins";
@import "@material/top-app-bar/mdc-top-app-bar";
.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color-accessible(#424242);
  @include mdc-top-app-bar-icon-ink-color(#fff);
}
.mdc-top-app-bar .mdc-tab-scroller--align-center .mdc-tab-scroller__scroll-content {
  justify-content: right;
}
@import "@material/tooltip/styles";
.mdc-tooltip {
  z-index: 8;
  pointer-events: none;
}
.mdc-tooltip__surface {
  border-radius: 4px;
}
@import "@material/typography/mixins";
body {
  background: #212121;
  color: #fff;
  counter-reset: katexEqnNo mmlEqnNo definition !important;
  display: flex;
  height: 100vh;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-variant-ligatures: common-ligatures;
}
::selection {
  background: $mdc-theme-secondary;
  color: #000;
}
:focus-visible {
  outline: #fff solid 2px;
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
.scroll-container {
  overflow: auto;
}
.eclogo {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue', sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  display: inline-block;
  text-transform: none;
}
.mdc-top-app-bar .eclogo.mini {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
@media (max-width: 700px) {
  .mdc-top-app-bar .eclogo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .mdc-top-app-bar .eclogo.mini {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
  .mdc-top-app-bar__section--align-start {
    min-width: 55px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.underlined {
  padding: 0;
  border: none;
  caret-color: $mdc-theme-primary;
  background: transparent;
  color: inherit;
}
.underlined[disabled] {
  background: transparent;
  color: rgba(255, 255, 255, 0.5)
}
.underlined:placeholder {
  background: transparent;
  color: rgba(255, 255, 255, 0.5)
}
.underlined:focus {
  outline: none;
  border: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes emerge {
  0% {
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }

  to {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

.underlined~.inputunderline {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,.38);
}

.underlined[disabled]~.inputunderline {
  border-bottom: 1px dotted rgba(255,255,255,.38);
}

.underlined~.inputfocus {
  width: 100%;
  top: -1px;
  position: relative;
  border-bottom: 2px solid $mdc-theme-primary;
  opacity: 0;
  transition: opacity ease .3s;
}

.underlined:focus~.inputfocus, .underlined.mq-focused~.inputfocus {
  opacity: 1;
  animation: emerge ease .18s;
}

.underlined:invalid~.inputfocus {
  border-bottom: 2px solid $mdc-theme-error;
}

.underlined-group {
  display: inline-block;
  .underlined {
    width: 100%;
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:none}

* {
  box-sizing: border-box;
}

.main-content .container {
  margin-block-end: 2em;
}
.container {
  max-width: 100vw;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

a:link {
  color: #ff934f;
  text-decoration: none;
}
a:visited {
  color: #E1BEE7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffc099;
  text-decoration: none;
}
a:active {
  color: #ffe6d6;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
.mdc-switch + label {
  margin-left: 10px;
}
hr {
  border: 0;
  border-top: 1px solid #424242;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
a.mdc-icon-button, a.mdc-tab, a.mdc-card__primary-action {
  &:link, &:visited, &:hover, &:focus, &:active {
    color: unset;
    text-decoration: none;
  }
}
.mdc-data-table__cell--numeric {
  font-variant-numeric: lining-nums tabular-nums;
}
.short {
  width: 100%;
  max-width: 292px;
}
h1 {
  @include typography.typography(headline1);
}
h2 {
  @include typography.typography(headline2);
}
h3 {
  @include typography.typography(headline3);
}
h4 {
  @include typography.typography(headline4);
}
h5 {
  @include typography.typography(headline5);
}
h6 {
  @include typography.typography(headline6);
}
p, ul, ol {
  @include typography.typography(body1);
}
@media (max-width: 575px) {
  .short {
    width: 100%;
  }
  h1, .mdc-typography--headline1 {
    @include typography.typography(headline2);
  }
  h2, .mdc-typography--headline2 {
    @include typography.typography(headline4);
  }
  h3, .mdc-typography--headline3 {
    @include typography.typography(headline5);
  }
  h4, .mdc-typography--headline4 {
    @include typography.typography(headline6);
  }
}
.long {
  width: 100%;
  overflow-y: visible;
  word-wrap: break-word;
}
abbr {
  font-variant-caps: all-small-caps;
}
abbr[title] {
  text-decoration: inherit;
}
.to {
  margin-left: 20px;
  margin-right: 20px;
}
.mdc-card {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mdc-card > div {
  padding: 16px;
}
.mdc-card > .mdc-card__primary-action > div {
  padding: 16px;
}
.mdc-card.form-card > div {
  padding-top: 32px;
}
.mdc-card .preview {
  padding-bottom: 16px;
  button, .mdc-text-field, .mdc-select {
    margin-top: 16px;
  }
}
.customflex {
  display: flex;
  width: 100%;
}
.customflex > * {
  flex: 1;
}
.customflex .mdc-select {
  max-width: 200px;
  margin-left: 20px;
}
.question {
  font-weight: bold;
}
.vexbox {
  max-width: 100%;
  overflow-x: auto;
  .div, svg {
    max-width: 100%;
  }
}
legend {
  padding: 0;
  display: table;
  margin-block-end: 10px;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  margin-block-end: 20px;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
.math-font {
  font-family: Symbola, serif;
  font-size: 115%;
}
.math-font::-webkit-input-placeholder {
  font-size: 1rem;
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  font-family: source-serif-pro, serif;
  font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family, source-serif-pro, serif,));
  color: rgba(255, 255, 255, 0.54);
}
.math-font::-moz-placeholder {
  font-size: 1rem;
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  font-family: source-serif-pro, serif;
  font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family, source-serif-pro, serif,));
  color: rgba(255, 255, 255, 0.54);
  opacity: 1;
}
.math-font:-ms-input-placeholder {
  font-size: 1rem;
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  font-family: source-serif-pro, serif;
  font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family, source-serif-pro, serif,));
  color: rgba(255, 255, 255, 0.54);
}
.math-font:-moz-placeholder {
  font-size: 1rem;
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  font-family: source-serif-pro, serif;
  font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family, source-serif-pro, serif,));
  color: rgba(255, 255, 255, 0.54);
}
.math-font::placeholder, .placeholder {
  @include typography.typography(body1);
  color: rgba(255, 255, 255, 0.54);
}
.placeholder {
  text-align: left;
  position: relative;
  top: 1.3rem;
  margin-top: -1.3rem;
  pointer-events: none;
}
.e,
.xe {
 display: inline-block;
 font-size: 87%;
 line-height: 0;
 text-transform: uppercase;
 vertical-align: -.45ex;
}
.e {
 margin-left: -.2em;
 margin-right: -.1em;
}
.xe {
 margin-left: -.1em;
 -moz-transform: scale(-1, 1);
 -webkit-transform: scale(-1, 1);
 -o-transform: scale(-1, 1);
 -ms-transform: scale(-1, 1);
 transform: scale(-1, 1);
 vertical-align: -.45ex;
}
a .e,
a .e:hover,
a .xe {
 text-decoration: none;
}
.a {
 font-size: 75%;
 margin-left: -.36em;
 margin-right: -.125em;
 text-transform: uppercase;
 vertical-align: .45ex;
}
code,pre,kbd,samp{font-size:inherit;text-shadow:none;font-family:iosevka web,monospace,sans-serif;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;line-height:1.5;-moz-tab-size:2;-o-tab-size:2;tab-size:2;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;overflow:auto}pre{padding:1em;margin:0;overflow:auto;background:#424242;max-height:16rem;user-select:all}:not(pre)>code,:not(pre)>kbd,:not(pre)>samp{background:#424242}.namespace{opacity:.7}.token.cdata,.token.comment,.token.prolog{color:#bdbdbd}.token.attr-name,.token.boolean,.token.constant,.token.number,.token.property,.token.symbol{color:#90caf9}.token.deleted{color:#e57373}.token.builtin,.token.char,.token.inserted,.token.selector,.token.tag{color:#a5d6a7}.token.entity,.token.operator,.token.string,.token.url{color:#90caf9}.token.atrule,.token.keyword{color:#ef9a9a}.token.function{color:#e1bee7}.token.attr-value,.token.doctype,.token.important,.token.regex,.token.variable{color:#b0bec5}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
.mdc-button.lowercase .mdc-button__label {
  text-transform: none;
}
.serif {
  font-family: adobe-garamond-pro, serif;
}
.uppercase {
  text-transform: uppercase;
}
.reverse {
  a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
    display: block;
  }
  a:hover, a:focus {
    color: #757575;
  }
  a:active {
    color: #BDBDBD;
  }
}
.plyr {
  a:link, a:visited, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: inherit;
    display: block;
  }
}
.scorecontainer {
  font-size: 2em;
}
.spacebefore {
  padding-left: 1em;
  width: 8ch;
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: 300;
}
.scorecontainer th {
  font-weight: 500;
}
.group-select-option {
  margin-block-start: 1rem;
}
.control {
  margin-block-end: 0.5em;
}
.katex, .graphie, .MathJax_Display, .MJXc-display, .MathJax_PHTML_Display, .MathJax_MathML, .MathJax_SVG_Display {
  letter-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.graphie svg, .dark-mode-invert, img[src*="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/fonts/HTML-CSS/TeX/png/"] {
  -webkit-filter: invert(1);
  filter: invert(1);
}
math {
  font-variant-numeric: lining-nums tabular-nums;
}
.definition-label {
  @include typography.typography(headline6)
}
.definition-label:before {
  display: inline-block;
  margin-right: 1em;
  counter-increment: definition;
  content: counter(definition);
}
.mdc-data-table__header-cell {
  font-weight: 700;
}
.player {
  width: 300px;
  max-width: 100%;
  height: 300px;
  margin: 1em;
}
.player h2 {
  font-variant-caps: small-caps;
  font-variant-numeric: lining-nums tabular-nums;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
}
.player table {
  margin-block-start: 1em;
}
.player th {
  font-weight: 400;
  font-size: 150%;
}
.player td {
  font-weight: 700;
  font-size: 150%;
  width: 100%;
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
}
#disqus_thread p {
  @include typography.typography(body1);
}
footer {
  background-color: #121212;
  width: 100%;
  padding-block-start: 2em;
  padding-block-end: 2em;
}
.datetime {
  /*
  input, .inputunderline, .inputfocus {
    width: 2ch;
    font-variant-numeric: lining-nums tabular-nums;
  }
  .yyyy {
    width: 4ch;
  }
  .mdc-typography--caption {
    letter-spacing: -0.033em;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  */
  button {
    margin-top: 1em;
  }
}
.table { display: table }
.tr { display: table-row }
.col { display: table-column }
.td { display: table-cell }
app-datepicker {
  --app-datepicker-border-top-left-radius: 16px;
  --app-datepicker-border-top-right-radius: 16px;
  --app-datepicker-border-bottom-right-radius: 16px;
  --app-datepicker-border-bottom-left-radius: 16px;
  --app-datepicker-accent-color: #7BCAF4;
  --app-datepicker-bg-color: #212121;
  --app-datepicker-color: #fff;
  --app-datepicker-disabled-day-color: rgba(255, 255, 255, .55);
  --app-datepicker-focused-day-color: #000;
  --app-datepicker-focused-year-bg-color: #000;
  --app-datepicker-selector-color: rgba(255, 255, 255, .55);
  --app-datepicker-separator-color: #3c3c3c;
  --app-datepicker-weekday-color: rgba(255, 255, 255, .55);
  font-variant-numeric: lining-nums tabular-nums;
}
.correct {
  color: #A5D6A7
}
.incorrect, .required {
  color: #EF9A9A
}
.option-symbol {
  vertical-align: -4px;
  margin-right: 1em;
  user-select: none;
}
.option-symbol.inline {
  vertical-align: -7px;
  margin-right: 0.5em;
}
.click-to-show__collapse-button, .click-to-show__content {
  display: none;
}
.click-to-show__content {
  margin-top: 1rem;
}
.n-op { font-variant-numeric: oldstyle-nums proportional-nums }
.n-lp { font-variant-numeric: lining-nums proportional-nums }
.n-ot { font-variant-numeric: oldstyle-nums tabular-nums }
.n-lt { font-variant-numeric: lining-nums tabular-nums }
.toolbar-off {
  opacity: 50%;
}
.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-spinner {
  -moz-appearance: textfield;
}